.retanguloTopo {
    border: 1px solid rgb(44, 44, 46);
    background-color: rgb(44, 44, 46);
    height: 30px; 
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.retanguloFundo {
    border: 1px solid rgb(44, 44, 46);
    background-color: rgb(44, 44, 46);
    height: 30px; 
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.retanguloRecheio {
    border: 1px solid rgb(58,58,60);
    background-color: rgb(58,58,60);
    height: 520px; 
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
}